* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

header p {
  color: #cfcfcf;
  margin-bottom: 30px;
}

.upload-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-area {
  padding: 18px 30px;
  background: #1f1f1f;
  border: 2px dashed #444;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.upload-area:hover {
  border-color: #00c3ff;
  color: #00c3ff;
}

#preview img {
  margin-top: 25px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
}
